# Игнорировать все файлы .log
*.log

# Игнорировать временные файлы редактора Vim
*.swp

# Игнорировать все файлы в директории temp/
temp/
node_modules/

# Игнорирование файлов конфигурации среды разработки
.env
.idea/
.vscode/